{
    "@send-grid-api": "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",
    "@email-dev": "bkpratt84@gmail.com",
    "@email-prod": "emily@thewisewaycounseling.com",
    "@firebase-key": "AIzaSyDtSOID9xg-yfKK_Vlo_pBZC5ckKG9rzJ4",
    "@firebase-auth-domain": "wiseway-91113.firebaseapp.com",
    "@firebase-project-id": "wiseway-91113"
}